gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never accidentally commit your keystore and keys to a public repository.
**/*.keystore
**/*.jks
key.properties
